body{
    background-color: antiquewhite;
}
.geral {
    background-color: white;
    margin: auto;
    border-radius: 10px ;
    text-align: center;
    width: 600px;
}
/* Sem arquivo Figma fica dificil definir com exatidão as margens, tamanhos e tudo que compõem o design da pagina*/
div img{
    border-radius: 10px;
    margin: 20px;
    width: 550px;
    }
h1{
    text-align: left;
    line-height: 25px;
    margin: 30px;
}
p{
    font-size: 16px;
    text-align: left;
    margin: 30px;
}
/*Ainda não descobri como inserir novas fontes no Code. Guanabara vai me ajudar nisso!*/    
.destaque{
    background-color:hsl(330, 100%, 98%);
    margin: 20px;
    border-radius: 10px;
    text-align: left;
    line-height: 25px;
} 
/* Fonte temporária para o arquivo*/
h1, h2, h3, p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2, h3{
    color: hsl(332, 51%, 32%);
    text-align: left;
    margin: 20px;
}

.ingredientes{
    margin: 20px 
    line-height: 25px;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5; 
}

.nutrição{
    margin: 20px;
    line-height: 25px;
}
.instruções{
    margin: 20px;
    line-height: 25px;
}
/*Ainda não aprendi a modificar os numeros e pontos da lista*/
.lista, .lista-numerada{
    text-align: left;
    line-height: 25px;
}

.texto-destaque{
    font-size: 16px;
    font-weight: bold;
}
