@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --cor-fundo: #f4d04e;
    --cor-card: #ffffff;
    --cor-fundo-texto: #f4d04e;
    --cor-texto: #111111;
    --cor-paragrafo: #6b6b6b;
    --cor-sombra: #111111;

    --fonte-geral: 'Figtree', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-geral);
    background-color: var(--cor-fundo);
    display: flex;
    align-items: center; <!-- centraliza verticalmente o card / alinha os eixos transversal - perpendicular ao eixo principal -->
    justify-content: center;
    min-height: 100vh; <!-- altura mínima da tela -->
}

#card-principal {
    width: 384px;
    height: 522px;
    background-color: var(--cor-card);
    border-radius: 20px;
    box-shadow: 8px 8px var(--cor-sombra);
    margin: auto;
    display: flex; 
    flex-direction: column; <!-- organiza os elementos filhos em coluna -->
    transition: transform 0.3s; <!-- adiciona uma transição suave para a transformação -->
    animation: fadeIn 0.7s; <!-- animação de fade-in ao carregar o card -->
}

#card-principal:hover { <!-- efeito ao passar o mouse sobre o card -->
    transform: translateY(-6px) scale (1.02);
    box-shadow: 8px 16px 16px var(--cor-sombra);
}

.imagem-artigo {
    width: 336px;
    height: 200px;
    border-radius: 10px;
    margin: 24px;
    object-fit: cover; <!-- garante que a imagem cubra todo o espaço disponível sem distorção -->
    transition: filter 0.3s; <!-- adiciona uma transição suave para o filtro -->
}

.imagem-artigo:hover {
    filter: brightness(0.9); <!-- escurece a imagem ao passar o mouse -->
}

.categoria {
    font-size: 16px;
    font-weight: 800;
    color: var(--cor-texto);
    background-color: var(--cor-fundo-texto);
    border-radius: 4px;
    padding: 4px 12px;
    margin: 24px;
    width: 82px;
    height: 29px;
}

.data-publicacao {
    font-size: 14px;
    color: var(--cor-texto);
    font-weight: 400;
    display: flex;
    margin: 12px 24px; <!-- margem superior e inferior de 12px, lateral de 24px -->
}

h1 {
    font-size: 24px;
    font-weight: 800;
    margin: 12px 24px 12px 24px;
    color: var(--cor-texto);
    letter-spacing: 0.5px; <!-- espaçamento entre letras -->
}

h1:hover {
    color: var(--cor-fundo-texto); <!-- muda a cor do título ao passar o mouse -->
    cursor: default <!-- indicar que é clicável -->
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-paragrafo);
    margin: 12px 24px 12px 24px;
}
.card-footer{
    display: flex;
    align-items: center;
    gap: 12px; <!-- espaçamento entre os elementos do rodapé -->
}
.card-footer img {
    display: flex;
    margin: 0px 0px 12px 24px;
    object-fit: cover;
}

.autor {
    font-size: 16px;
    font-weight: 800;
    color: var(--cor-texto);
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(40px);}
    to { opacity: 1; transform: translateY(0);}
}
#card-principal {
    animation: slideUp 0.8s;
}